body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }

#menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    border-radius: 3px;
    width: 150px;
    border: 1px solid rgba(0,0,0,0.4);
    font-family: 'Open Sans', sans-serif;
}

#menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-align: center;
}

#menu a:last-child {
    border: none;
}

#menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#menu a.active {
    background-color: #3887be;
    color: #ffffff;
}

#menu a.active:hover {
    background: #3074a4;
}

.marker {
  background-image: url('../img/orbitist-icon-blue.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup-content {
  width: 800px;
  height: 450px;
}

.mapboxgl-popup-content iframe {
  width: 100%;
  height: 100%;
}

.mapboxgl-popup-close-button {
  background-color: white;
}
.mapboxgl-popup-close-button:hover {
  background-color: #eee;
}

.videos {
  position: absolute;
  z-index: 1;
  bottom: 30px;
  left: 10px;
  font-family: 'Open Sans', sans-serif;
}

.videos a {
  font-size: 18px;
  display: inline-block;
  margin: 0;
  padding: 20px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  border-radius: 3px;
  text-align: center;
  background-color: #3887be;
  color: #ffffff;
}

.videos a:hover {
  background: #3074a4;
}
